/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2016, 1:08:00 PM
    Author     : delion
*/
body{
    background:#f4f4f4;
    background:#EFEFEF;
}
.container{
        min-width:100%;
    }
.row{
    margin:0;
}
#masthead{
    background:#142703;
    color:#D2D2D2;
}
#masthead a{
    color:#D2D2D2 !important;
}
.site-footer{
    background:none !important;
    border-top:1px solid #D2D2D2;
}
.site-footer .container{
    max-width:980px;
    width:100%;
    margin: 0 auto;
    min-width:0;
}
.site-footer .container a,
.site-footer .fcred{
    color:#333 !important;
}
.entity-paragraphs-item{
    background:#FFF;
}
.entity-paragraphs-item .content{
    margin:0 auto;
    max-width:980px;
    padding:20px 0;
}
#primary{
    padding:0;
}
.hamburger::after{
    content:"\f0c9";
    font-family: 'FontAwesome';
    font-size:35px;
    cursor:pointer;
}
#main-menu{
    float:right;
    position:fixed;
    top:82px;
    z-index: 999;
    right:-240px;
    max-width:240px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#masthead > .row{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
#masthead .hamburger{
        text-align: right;
    line-height: 82px;
}
@media screen and (max-width: 480px) {
    #site-logo{
        max-width:40px;
        padding-top: 0;
    }
    #site-title{
        font-size:18px;
        text-align: left;
    }
}
@media screen and (max-width:680px){
    .flex-caption{
        display: none;
    }
}
@media screen and (max-width:768px){
    #masthead .col-sm-6{
        padding:0;
        
    }
    #collapsed-menu-button{
        margin:0; 
        display:block;
        width:100%;
        border-radius: 0;
    }
    .mobile-menu-accordion ul.menu{
        margin:0;
    }
    #mobile-menu-inner{
        min-width:100%;
    }
}